<div class="row">
    <div class="col-3">
        courseName=> {{courseName}}
        <br>
        uppercase => {{courseName | uppercase}}
    </div>
    <div class="col-3">
        courseName=> {{courseName}}
        <br>
        lowercase => {{courseName | lowercase}}
    </div>
    <div class="col-3">
        studentObj => {{studentObj}}
        <br>
        studentObj => {{studentObj | json }}
    </div>
</div>
<div class="row">
    <div class="col-3">
        currentDate => {{currentDate}}
        <br>
        date only => {{currentDate | date}}
    </div>
    <div class="col-3">
        currentDate => {{currentDate}}
        <br>
        date only => {{currentDate | date: 'dd/MM/yyyy'}}
    </div>
</div>
<div class="row pt-5">
    <div class="col-2">
        <ul>
            <li *ngFor="let city of cityList">{{city}}</li>
        </ul>
    </div>
    <div class="col-5">
        <button *ngFor="let cityName of cityList" class="btn btn-success">{{cityName}}</button>
    </div>
</div>
<div class="col-3">
    <div *ngFor="let city of cityList">
        <span>{{city}}</span>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <select>
            <option *ngFor="let emp of employeeArray" [value]="emp.empId">
                {{emp.name}}- {{emp.city}}
            </option>
        </select>
    </div>
    <div class="col-5">
        <table >
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Mobile No</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeArray; let srno=index">
                    <td>{{srno +1}}</td>
                    <td>{{employee.name| na}}</td>
                    <td>{{employee.city| na}}</td>
                    <td>{{employee.contactNo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>