<div class="container">
<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4">
      <label >First name</label>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="userObj.firstName">
       
    </div>
    <div class="col-md-4">
      <label >Last name</label>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="userObj.lastName">
       
    </div>
    <div class="col-md-4">
      <label >Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
        <input type="text" class="form-control" name="userName" [(ngModel)]="userObj.userName">
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label >City</label>
      <input type="text" class="form-control" name="city" [(ngModel)]="userObj.city">
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-md-3">
      <label >State</label>
      <select class="form-select" name="state" [(ngModel)]="userObj.state">
        <option selected disabled value="">Choose...</option>
        <option value="Nyeri">Nyeri</option>
        <option value="Nairobi">Nairobi</option>
        <option value="Mombasa">Mombasa</option>
      </select>
       
    </div>
    <div class="col-md-3">
      <label >Zip</label>
      <input type="text" class="form-control" name="zipCode" [(ngModel)]="userObj.zipCode">
       
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="isTermsAgreed" [(ngModel)]="userObj.isTermsAgreed">
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="button" (click)="onSave()">Submit form</button>
    </div>
  </form>
</div>