<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item" >
            <a class="nav-link active" routerLink="dataBinding">data-binding</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  routerLink="ng-class">ng-class</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  routerLink="ng-style">ng-style</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  routerLink="control-flow">Control flow</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  routerLink="signal">Signal</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  routerLink="linked-signal">Linked Signal</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  routerLink="template-forms">Template Forms</a>
          </li>
           <li class="nav-item" >
            <a class="nav-link"  routerLink="reactive-forms">Reactive Forms</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  routerLink="get-api">Get API</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link"  routerLink="post-api">POST API</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search">
          <button class="btn btn-primary" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

