  <div class="row">
  <div class="col-5">
        <table >
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Mobile No</th>
                    <th>Attendance</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeArray; let srno=index">
                    <td>{{srno +1}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.city}}</td>
                    <td>{{employee.contactNo}}</td>
                     
                </tr>
            </tbody>
        </table>
    </div>
    </div>
